
@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-comfy-regular.woff2') format('woff2'), url('woff/iosevka-comfy-regular.woff') format('woff'), url('ttf/iosevka-comfy-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-comfy-italic.woff2') format('woff2'), url('woff/iosevka-comfy-italic.woff') format('woff'), url('ttf/iosevka-comfy-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-comfy-semibold.woff2') format('woff2'), url('woff/iosevka-comfy-semibold.woff') format('woff'), url('ttf/iosevka-comfy-semibold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-comfy-semibolditalic.woff2') format('woff2'), url('woff/iosevka-comfy-semibolditalic.woff') format('woff'), url('ttf/iosevka-comfy-semibolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-comfy-bold.woff2') format('woff2'), url('woff/iosevka-comfy-bold.woff') format('woff'), url('ttf/iosevka-comfy-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Comfy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-comfy-bolditalic.woff2') format('woff2'), url('woff/iosevka-comfy-bolditalic.woff') format('woff'), url('ttf/iosevka-comfy-bolditalic.ttf') format('truetype');
}
